@charset "utf-8";

h1{
  font-family: Verdana, 'Arial Black',メイリオ,sans-serif;
  color: green;
  font-size: 36px;
  text-align: center;
}

p{
  text-align: center;
}

h2{
  font-size: 24px;
  text-align: center;
  text-decoration: underline; 
}

h3{
  font-size: 24px;
  text-align: center;
  text-decoration: underline; 
}

li{
  background-color:ghostwhite;
  list-style-position: inside;
}
