@charset "utf-8";

h1 {
  font-family: Verdana, 'Arial Black',メイリオ,sans-serif;
  color: green;
  font-size: 36px;
}

p {
  text-align: center;
}

img {   width: 48px;
        height:48px;
        border-radius: 50%;
      }

body {
  text-align:center;
  }

  h2 {
  font-size: 24px;
  text-align: center;
  text-decoration: underline; 

}

h3 {
  font-size: 24px;
  text-align: center;
  text-decoration: underline; 
}

ul {
  width: 400px;
  height:200px;
  background-color:ghostwhite;
  margin-right: auto;
  margin-left: auto;
  list-style-position: inside;
  list-style-type: circle;

}



ol {
  width: 400px;
  height:200px;
  padding-top: 16px;
  margin-right: auto;
  margin-left: auto;
  list-style-position: inside;
  line-height:48px;
}